.custom-title {
  font-size: 36px !important;
  color: #000 !important;
  font-weight: 700 !important;
}

.custom-title-h3 {
  font-size: 24px !important;
  color: #000 !important;
  font-weight: 700 !important;
}