<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css-styling/style.css">
    <title>Home</title>
</head>
<body>
    <h1>home-page</h1> 
    <a href="/about">about</a>
    <a href="/photo-gallery-page">Galeria de fotos</a>
    <button onclick="popAlert()">Clicar</button>

    <script src="./javascript-events/script.js"></script>
</body>
</html>